.container{
    .operation{
        .parcel{
            color: #666 !important;
        }
    }
    
   .selectTimeType{
       width: 130px !important;
   }
   .selectOrderType{
       width: 135px !important;
   }
}

.orderPoolDetails div p .title {
    width: 100px !important;
}
