.SingleSowing {
  .header-container{
    .title-bar-icon{
      color: #2A8BFF;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
    }
  }
  .table-container {
    display: flex;

    .SingleLeft {
      .seachbox {
        .input-number {
          width: 236px;
        }

        .input-barcode {
          width: 145px;
        }
      }

      .infoshowBox {
        width: 380px;
        background: #FFFFFF;
        border: 1px solid #DCDFE6;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;

        .productInfo {
          width: 100%;
          height: 100%;

          .el-form-item {
            margin: 0;
          }
        }

        .tip {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #999;
        }
      }
    }

    .Singlecenter {
      margin-right: 100px;

      .SingleImg {
        width: 290px;
        height: 290px;
        border: 1px solid #DCDFE6;
        display: flex;
        justify-content: center;
        align-items: center;

        .productInfo {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
          }
        }

        .tip {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: #999;
        }
      }
    }

    .SingleRight {
      .selectBox {
        .selectchange {
          width: 126px;
        }
      }

      .workstatus {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 262px;
        height: 140px;
        border: 1px solid #DCDFE6;
        border-radius: 4px;

        .tip {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          font-weight: 600;

          span {
            margin-top: 20px;
          }
        }

        .waiting span {
          font-size: 14px;
          color: #999999;
        }

        .checking span {
          font-size: 20px;
          color: #669BF4;
        }

        .complete span {
          font-size: 20px;
          color: #4BD576;
        }
      }

      .workBtn {
        .btn {
          background-image: linear-gradient(-180deg, #FFFFFF 0%, #EEEEEE 100%);
          border: 1px solid #DCDFE6;
          border-radius: 4px;
          width: 126px;
          font-family: PingFangSC-Medium;
          font-size: 14px;
          color: #333333;
          letter-spacing: 0;
        }

        .btn:nth-child(1) {
          .icon {
            color: #4BD576
          }
        }

        .btn:nth-child(2) {
          .icon {
            color: #FF9F21
          }
        }
      }
    }
  }

}
