.code-table-cont {
  // padding: 0 20px 30px 0px;
  // .el-icon-error{position: absolute;z-index: 2;}
  .search-content {
    width: 423px;
    height: 32px;
    margin-right: 20px;

    .el-input__inner {
      height: 32px;
      line-height: 32px;
      font-size: 12px;
    }

    .el-input-group__prepend {
      background-color: rgba(0, 0, 0, 0) !important;
      border-radius: 32px 0 0 32px !important;
    }

    .el-input-group__append {
      background-color: rgba(0, 0, 0, 0) !important;
      border-radius: 0 32px 32px 0 !important;
    }

    .selectShelf {
      width: 109px;
      position: relative;
      top: -2px;

      .el-select__caret {
        line-height: 32px;
      }
    }

    .seachBtn {
      .el-icon-search {
        font-size: 18px;
      }
    }
  }
  .codetableSeachFrom {
    padding: 0 20px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .resetBtn {
      color: #2A8BFF;
      font-size: 12px;
      cursor: pointer;
    }
  }
  .shelfTableBlock {
    padding: 0 20px;
    // 上架单列表表格
    margin-top: 41px;
    .title {
      // font-family: PingFangSC-Medium;
      font-size: 12px;
      color: #333333;
      padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      .add {
        cursor: pointer;
        color: #2A8BFF;
        i {
          font-size: 14px;
          margin-right: 4px;
        }
      }
    }

    .el-table--border td {
      border-right: none;
      border-bottom: none;
    }

    .el-table--border th {
      border-right: none;
    }

    .shelfTablePage {
      text-align: center;
      margin-top: 23px;
    }

    .el-table--border {
      border: none;
    }

    .el-pager li.active {
      color: #fff;
      background: #2783e8;
      border-radius: 50%;
    }

    .el-pager {
      position: relative;
      top: 5px;
    }

    .el-pager li {
      min-width: 20px;
      height: 20px;
      padding: 0;
      line-height: 20px;
      margin: 0 10px;
    }
  }
}
