.SKUContainer {
    .el-input-group__prepend {
        width: 64px;
        border-radius: 17px 0 0 17px;
    }
    .el-input-group__append {
        border-radius: 0 17px 17px 0;
    }
    .input-select:not(.customer) {
        width: 330px;
        height: 32px;
    }
    .form-select {
        padding: 20px 0;
    }
    .table-outer {
        .title {
            padding-top: 20px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebeef5;
        }
    }
}