.supplier-detail {
  position: relative;
  .section-cont {
    padding: 20px 0;
  }
  .section-item {
    display: flex;
    margin-bottom: 16px;
  }
  .cont-item {
    display: flex;
    width: 23%;
    margin-right: 2%;
  }
  .label {
    width: 130px;
    text-align: right;
    color: #666;
  }
  .value {
    width: 170px;
    color: #333;
  }
  .btn {
    position: absolute;
    bottom: 35px;
    left: 50%;
    margin-left: -49px;
  }
  .spanWith {
    width: 200px;
    display: block;
  }
}
